[Unit]
Description=Wireguard vpn

[Service]
Type=simple
ExecStart=/etc/bird/wireguard/wireguard.sh restart
RestartSec=10
StartLimitInterval=0
Restart=on-failure

[Install]
WantedBy=multi-user.target
